body {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-color:#E2D2CD;
}
#content {
        margin-right: auto;
        margin-left: auto;
        width: 928px;
        top:30px;
        position:relative;
}
.lauftext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.lauftextklein {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.menu,
A.menu,
A.menu:link,
A.menu:visited,
.menu a, 
.menu a:link,
.menu a:visited,
.menu a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #764B51;
	text-decoration: none;
}
A.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #764B51;
	text-decoration: underline;
}
.menuvio{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FDF7F8;
	text-decoration: none;
}

A.menuvio,
A.menuvio:link,
A.menuvio:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FDF7F8;
	text-decoration: none;
}
A.menuvio:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FDF7F8;
	text-decoration: underline;
}

.submenuvioaktiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #F0D0BB;
	text-decoration: none;
	line-height:1em;
}
.specialmenu li a,
.specialmenu li a:link,
.specialmenu li a:visited,
A.submenuvio,
A.submenuvio:link,
A.submenuvio:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	line-height:1em;
}
.specialmenu li a:hover,
A.submenuvio:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
    color: #F3E7DC;
	text-decoration: underline;
	line-height:1em;
}
.transparenz {
	background-image: url(transparenz.gif);
	background-repeat: repeat;
}
.rahmen {
        border:1px solid #FFFFFF;
}

.menurahmen {
	border-bottom: 1px solid #FFFFFF;
	border-top-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
}

#navcontainer ul li a:hover{
	background: #ffffff;
}

.menurahmenvio {
	border-bottom: 1px solid #FFFFFF;
	border-top-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	height: 23px;
}
.menurahmenOben {
	border-bottom: 1px solid #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 35px;
}
.menurahmenUnten {
	border-bottom: 2px solid #FFFFFF;
	border-top-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	height: 35px;
}
.menurahmenquetsch {
	border-bottom: 1px solid #FFFFFF;
	border-top-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	height: 28px;
}
.violet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #764B52;
}
.violetfett {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #764B52;
	font-weight: bold;
	text-decoration: none;
}
.beigefett {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F3E7DC;
	font-weight: bold;
	text-decoration: none;
}
.menuviogross {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FDF7F8;
	text-decoration: none;
}
.urlaub {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
        font-size: 12px;
	color: #F3E7DC;
	line-height:1.1em;
}

/* ---- grid ---- */

.grid {
  max-width: 928px;
  margin: 0px auto;
  margin-top: 30px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 232px;
  height: 168px;
  float: left;
  border: 1px solid white;
}

.grid-item168height {
  height: 168px !important;
}

.grid-item180height {
  height: 180px !important;
}

.grid-item186height {
  height: 186px !important;
}

.grid-item366height { height: 366px; }

.grid-item--width { width: 464px; }
.grid-item--height { height: 360px; }

/* ---- grid-item end ---- */

.logo {
	background: url('wiedling_logo.jpg');
}

.address {
	background: #F3E7DC;
}

.braunEmpfang {
	background: url('empfang_braun.jpg') #BFA190;
}

.beigebg {
	background: #F3E7DC;
}

.emfpangunscharf{
	background: url('empfang_unscharf.jpg');
}

.empfang{
	background: url('empfang.jpg');
}

.steinunten{
	background: url('stein_unten_mitte.jpg');
}

#navcontainer ul li.active ul li.active,
#navcontainer ul li.active ul li.active a:hover,
.specialmenu li a:hover,
.rotbg{
	background: #7F555A !important;
}

.braunbg{
	background: #C2A493;
}

.indent {
	margin-left: 70px;
	margin-top: 40px;
}

.indent2 {
	margin-left: 20px;
	margin-top: 60px;
}


.indent p, .indent2 p { 
	margin:0;
	font-size: 12px;
}

.indent .blank{
	margin: 5px;
}

a.top{
	margin-top:10px;
}

a.bottom{
	margin-top:135px;
}

a.right{
	margin-right: 15px;
	clear: right; !important; /* overriding foundations right */
}

a.left {
	margin-left: 15px;
	clear: left !important; /* overriding foundations left */
}

.menu2{
	height:auto;
	min-height:336px;
	height:auto !important;        /* for IE as it does not support min-height */
	height:336px;                   /* for IE as it does not support min-height */
	background: url('stein_links_ganz.jpg');
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}

#navcontainer{
	height:auto;
	min-height:335px;
	height:auto !important;        /* for IE as it does not support min-height */
	height:335px;                   /* for IE as it does not support min-height */
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navcontainer ul li.active, #navcontainer ul li.active a:hover{
    background: url('menu_vio_bg.jpg');
}

#navcontainer ul li.active a,
#navcontainer ul li.active a:link{
    color: #ffffff;
}

#navcontainer ul li a{
    display:inline-block;
    width:100%;
    height:100%;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}

#navcontainer ul li ul {
	display: none;
}

#navcontainer ul li.active ul {
	display: block;
}

#navcontainer ul li.active ul li a:hover{
	text-decoration: underline;
}

#navcontainer ul li.active ul li.active a:hover{
	text-decoration: none;
}